{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Home Page{% endblock title %}

{% block body %}
<div class="container">
  <h2>This is the home page</h2>
  <div class="row">
    {% for post in posts %}
    <div class="col-md-3 my-4">
      <div class="card">
        {%thumbnail post.image "200x200" crop="center" as im %}
        <img src="{{ im.url }}" class="card-img-top" alt="{{post.text}}">
        {% endthumbnail %}
        <div class="card-body">
          <h5 class="card-title">{{post.text}}</h5>
          <a href="{% url 'detail' post.id %}" class="btn btn-primary">View Full Image</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}